<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="__ROOT__/layout.css">
	<link rel="stylesheet" type="text/css" href="__FR__/css/diaoche.css">
	<title>邢台市柏乡县吊车租赁</title>
	<meta name="keywords" content="邢台市柏乡县吊车租赁" charset="utf-8">
	<meta name="description" content="邢台市柏乡县吊车租赁" charset="utf-8">
</head>
<body>
	<!-- 顶部 -->
	<div class="header">
		<div class="nav">  <!-- 导航 -->
			<ul>
				<li><a href="">首页</a></li>
				<li><a href="">设备简介</a></li>
				<li><a href="">工程案例</a></li>
				<li><a href="">行业新闻</a></li>
				<li><a href="">联系我们</a></li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>	

	<!-- 页面内容 -->
	<div class="content">
		<!-- 三张轮转图 -->
		<div class="ture_img">
			
		</div>
	</div>

	<!-- 底部 -->
	<div class="footer">
		
	</div>
</body>
</html>