
{include file="Layout/header"/}
<!-- 页面内容 -->
<div class="content">
{include file="Layout/left"/}	


	<!-- 正文内容 -->
	<div class="zhengwen">  
		<!-- <table class="machine_imgs">
			<tr>
				<td><a href="javascript:;"><img src="__FR__/images/huge.jpg"><span>胡歌大大</span></a></td>
				<td><a href="javascript:;"><img src="__FR__/images/huge.jpg"><span>胡歌大大</span></a></td>
				<td><a href="javascript:;"><img src="__FR__/images/huge.jpg"><span>胡歌大大</span></a></td>
				<td><a href="javascript:;"><img src="__FR__/images/huge.jpg"><span>胡歌大大</span></a></td>
			</tr>

			<tr>
				<td><a href="javascript:;"><img src="__FR__/images/huge.jpg"><span>胡歌大大</span></a></td>
				<td><a href="javascript:;"><img src="__FR__/images/huge.jpg"><span>胡歌大大</span></a></td>
				<td><a href="javascript:;"><img src="__FR__/images/huge.jpg"><span>胡歌大大</span></a></td>
				<td><a href="javascript:;"><img src="__FR__/images/huge.jpg"><span>胡歌大大</span></a></td>
			</tr>
		</table> -->
		{$con['content']}
	</div>
	<div class="clear"></div>


</div>

<!-- 底部 -->
{include file="Layout/footer"/}


</body>
</html>