
{include file="Layout/header"/}
<!-- 页面内容 -->
<div class="content">
{include file="Layout/left"/}	


	<!-- 正文内容 -->
	<div class="zhengwen">  
		<div class="news_content">
			<!-- <span class="news_title">河北省邢台市柏乡县吊车租赁</span><br/>
			<span class="news_jianjei">河北省邢台市柏乡县吊车租赁  2018年9月23日</span>
			<div class="news_con">
				安顺吊车租赁中心隶属于北京中辉智航科技有限公司成立于1998年，我们是一家专业从事机械设备搬家、搬运、装卸、安装、工厂搬迁、起重运输的企业。本单位出租1-15吨叉车、8-200吨吊车等，是一家汇集搬家、搬运、搬迁、移位、起重吊装为一体的专业综合服务租车行。根据用户需要，选择您所需要的设备，车辆各行配备专业司机，专业装卸等搬运工作人员，安全快捷，可一条龙完成您所需要的工作。 
			　　经营范围：出租各种吨位的吊车、多辆叉车及吊装搬厂业务。 
			　　技术力量：有工程师6人，专业技师10人，技工20人。叉车租赁、工厂搬迁、设备吊装业务，为您提供高效优质的服务。 
			　　经营宗旨：效率求生存，信誉树品牌，价格赢市场，创新图发展。 
			　　经营理念：客户至上，以人为本；莫负使命，追求卓越。 
			　　服务承诺：全天24小时为您服务，我们以交友会的价格为您提供安全优质方便快捷的服务。 
			　　安顺出租：多辆叉车，各种吨位吊车等
			</div> -->
			{$news_detial['content']}
		</div>
	</div>
	<div class="clear"></div>


</div>

<!-- 底部 -->
{include file="Layout/footer"/}


</body>
</html>