
{include file="Layout/header"/}
<!-- 页面内容 -->
<div class="content">
{include file="Layout/left"/}	


	<!-- 正文内容 -->
	<div class="zhengwen">  
		<table class="machine_imgs">
			<tr>
				{foreach $obj_list1 as $v}
				<td><a href="{:url('/index/Index/news_content')}?nid={$v['id']}"><img src="/thumb/{$v['thumb']}"><br/><span>{$v['title']}</span></a></td>
				{/foreach}
				
			</tr>

			<tr>
				{foreach $obj_list2 as $vv}
				<td><a href="{:url('/index/Index/news_content')}?nid={$v['id']}"><img src="/thumb/{$vv['thumb']}"><br/>
					<span>{$vv['title']}</span></a></td>
				{/foreach}
			</tr>
		</table>
	</div>
	<div class="clear"></div>


</div>

<!-- 底部 -->
{include file="Layout/footer"/}


</body>
</html>